@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
  @apply px-2;
}

.bg-primary{
  background:rgb(80, 61, 225)
}

.bg-secondary{
  background:rgb(11, 7, 41)
}


.bg-third{
  background:rgb(29, 55, 75)
}

.mobile-nav{
  @apply fixed top-14 left-0 bg-gray-900 w-full h-1/4;

}

.mobile-nav li{
  @apply w-full h-full text-center border-b-2
}

.cinzel-hero {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}


.project-desc{
  @apply absolute left-0 right-0 bottom-0 top-0 bg-primary opacity-0 duration-500 hover:opacity-100
}

.btn{
  @apply bg-secondary px-5 py-2 font-bold hover:border-2 border-white rounded;
}

html{
  scroll-behavior: smooth;
}